.hidden {
    display: none;
}

html, body {
    height: 100%;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: white;
}

header {
    background-color: red;;
    padding: 10px 0;
}

#main-logo {
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: 15px 0 15px 0;
}

#fighters-nav {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(0,0,0,0.7);
    background-image: url(../images/background-octagon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.fighters {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
}

.fighters li {
    height: 220px;
    background-color: rgba(0,0,0,0.25);
    margin: 10px 10px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 155px 0 0 rgba(255, 0, 0, 0.75) inset;
    transition: box-shadow 300ms ease-in-out;
}

.fighter li:hover {
    box-shadow: 0 500px 0 0 rgba(255, 0, 0, 0.75) inset;
}

.fighters li h3 {
    color: white;
    padding: 15px 8px;
}

.fighters li a {
    text-decoration: none;
}

.sprite {
    width: 150px;
    height: 150px;
    background-image: url(../images/ufcSprites.jpg);
    background-position: center;
}

#poatan {
    background-position: 0px 0;
}

#volka {
    background-position: -150px 0;
}

#anderson {
    background-position: -300px 0;
}

#mcgregor {
    background-position: -450px 0;
}

#stpierre {
    background-position: -600px 0;
}

#charles {
    background-position: -750px 0;
}

#khabib {
    background-position: -900px 0;
}

#aldo {
    background-position: -1050px 0;
}

#jones {
    background-position: -1200px 0;
}

#amanda {
    background-position: -1350px 0;
}

#max {
    background-position: -1500px 0;
}

#justin {
    background-position: -1650px 0;
}

#aldo:hover, #amanda:hover, #anderson:hover, #charles:hover, #jones:hover, #justin:hover, #khabib:hover, #max:hover, #mcgregor:hover, #poatan:hover, #stpierre:hover, #volka:hover {
    background-position-y: 150px;
}

#instructions {
    margin-top: 75px;
    padding: 25px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 25px;
    background-color: rgb(205, 204, 204);
    box-shadow: 0 10px 25px 5px rgba(106, 106, 106, 0.5) inset;
}

footer h3 {
    color: rgb(56, 56, 56);
}

.sticky-footer {
    position: sticky;
    top: 100%;
    height: 50px;
    color: white;
}

/* Lightbox */

.lightbox {
    width: 100vw;
    height: 100vwh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 5px;
    z-index: 100;
    background-color: rgba(0,0,0,0.75);
    background-image: url(../images/BG-poatan.png);
    background-repeat: no-repeat;
    background-size: 73vh;
    padding: 55px 0 0 0;
    background-position: 0px bottom;
    background-position-x: left 10%;
    display: none;
}

#lightbox_volka {
    width: 100vw;
    height: 100vwh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 5px;
    z-index: 100;
    background-color: rgba(0,0,0,0.75);
    background-image: url(../images/BG-volka.png);
    background-repeat: no-repeat;
    background-size: 73vh;
    padding: 55px 0 0 0;
    background-position: 0px bottom;
    background-position-x: left 10%;
}

#lightbox_anderson {
    width: 100vw;
    height: 100vwh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 5px;
    z-index: 100;
    background-color: rgba(0,0,0,0.75);
    background-image: url(../images/BG-silva.png);
    background-repeat: no-repeat;
    background-size: 73vh;
    padding: 55px 0 0 0;
    background-position: 0px bottom;
    background-position-x: left 10%;
}

#lightbox_mcgregor {
    width: 100vw;
    height: 100vwh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 5px;
    z-index: 100;
    background-color: rgba(0,0,0,0.75);
    background-image: url(../images/BG-mcgregor.png);
    background-repeat: no-repeat;
    background-size: 73vh;
    padding: 55px 0 0 0;
    background-position: 0px bottom;
    background-position-x: left 10%;
}

#lightbox_stpierre {
    width: 100vw;
    height: 100vwh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 5px;
    z-index: 100;
    background-color: rgba(0,0,0,0.75);
    background-image: url(../images/BG-stpierre.png);
    background-repeat: no-repeat;
    background-size: 73vh;
    padding: 55px 0 0 0;
    background-position: 0px bottom;
    background-position-x: left 10%;
}

#lightbox_charles {
    width: 100vw;
    height: 100vwh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 5px;
    z-index: 100;
    background-color: rgba(0,0,0,0.75);
    background-image: url(../images/BG-charles.png);
    background-repeat: no-repeat;
    background-size: 73vh;
    padding: 55px 0 0 0;
    background-position: 0px bottom;
    background-position-x: left 10%;
}

#lightbox_khabib {
    width: 100vw;
    height: 100vwh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 5px;
    z-index: 100;
    background-color: rgba(0,0,0,0.75);
    background-image: url(../images/BG-khabib.png);
    background-repeat: no-repeat;
    background-size: 73vh;
    padding: 55px 0 0 0;
    background-position: 0px bottom;
    background-position-x: left 10%;
}

#lightbox_aldo {
    width: 100vw;
    height: 100vwh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 5px;
    z-index: 100;
    background-color: rgba(0,0,0,0.75);
    background-image: url(../images/BG-aldo.png);
    background-repeat: no-repeat;
    background-size: 73vh;
    padding: 55px 0 0 0;
    background-position: 0px bottom;
    background-position-x: left 10%;
}

#lightbox_jones {
    width: 100vw;
    height: 100vwh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 5px;
    z-index: 100;
    background-color: rgba(0,0,0,0.75);
    background-image: url(../images/BG-jones.png);
    background-repeat: no-repeat;
    background-size: 73vh;
    padding: 55px 0 0 0;
    background-position: 0px bottom;
    background-position-x: left 10%;
}

#lightbox_amanda {
    width: 100vw;
    height: 100vwh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 5px;
    z-index: 100;
    background-color: rgba(0,0,0,0.75);
    background-image: url(../images/BG-amanda.png);
    background-repeat: no-repeat;
    background-size: 73vh;
    padding: 55px 0 0 0;
    background-position: 0px bottom;
    background-position-x: left 10%;
}

#lightbox_max {
    width: 100vw;
    height: 100vwh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 5px;
    z-index: 100;
    background-color: rgba(0,0,0,0.75);
    background-image: url(../images/BG-max.png);
    background-repeat: no-repeat;
    background-size: 73vh;
    padding: 55px 0 0 0;
    background-position: 0px bottom;
    background-position-x: left 10%;
}

#lightbox_justin {
    width: 100vwh;
    height: 100vwh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 5px;
    right: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.75);
    background-image: url(../images/BG-justin.png);
    background-repeat: no-repeat;
    background-size: 73vh;
    padding: 55px 0 0 0;
    background-position: 0 bottom;
    background-position-x: left 10%;
}

.lightbox_close {
    position:relative;
    left: 92%;
    top: 200px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    transition: color 250ms ease-in-out;
}

.lightbox_close:hover {
    color: white;
}

.lightbox article {
    width: 55%;
    margin-left: 35%;
    margin-top: 150px;
    background-color: rgba(0,0,0,0.75);
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 35px;
    align-self: end;
}

.lb_name {
    font-size: 32px;
    margin-bottom: 0;
    text-transform: uppercase;
    justify-self: left;
    
}

.lb_nickname {
    font-size: 22px;
    margin-bottom: 0;
    justify-self: left;
}

.lb_nationality {
    font-size: 14px;
    margin-bottom: 0;
    justify-self: left;
}

.lb_division {
    font-size: 14px;
    margin-bottom: 0;
    justify-self: left;
}

.lb_height {
    font-size: 14px;
    margin-bottom: 0;
    justify-self: left;
}

.lb_wins {
    font-size: 14px;
    margin-bottom: 0;
    justify-self: left;
}

.lb_index {
    font-size: 16px;
    color:rgba(255, 255, 255, 0.4);
    margin-right: 15px;
    align-items: left;
}

.lb_wins ul {
    padding-left: 15px;
}

h4 span {
    font-size: 16px;
    color:rgba(255, 255, 255, 0.4);
    margin-right: 15px;
    align-items: left;
}

section article img {
    margin-right: 15px;
    align-items: left;
}

.lightbox:target {
    display: block;
}